{% if e.data is defined and e.data | ansible.netcommon.ipaddr('net') %}
{{ 'add ' + s.set + ' ' + e.data -}}
{% if e.nomatch is defined and e.nomatch == 'true' %}
{{- ' ' + 'nomatch' -}}
{% endif %}
{% endif %}
