{% if s.range is defined and s.range | ansible.netcommon.ipaddr('net') %}
{{ 'create ' + s.set + ' ' + s.type + ' range ' + s.range -}}
{% endif %}
{% if s.netmask is defined and s.netmask != '' %}
{{- ' netmask ' + s.netmask -}}
{% endif %}
